.container {
  background-color: var(--secondary-bg-color);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.header-sections {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  width: var(--content-width);
  margin: 0 auto;
}

.header-sections__left,
.header-sections__right {
  flex: 1;
}

.header-sections__right {
  display: flex;
  justify-content: end;
  --shopping-cart-icon-size: 2.5rem;

  & button {
    width: var(--shopping-cart-icon-size);
    height: var(--shopping-cart-icon-size);
    padding: 0;
  }

  & mat-icon {
    width: var(--shopping-cart-icon-size);
    height: var(--shopping-cart-icon-size);
    font-size: var(--shopping-cart-icon-size);
  }
}

.header-sections__center {
  flex: 5;
}

.title {
  text-align: center;
  font-size: 3em;
}

@media (max-width: 650px) {
  .header-sections__right {
    --shopping-cart-icon-size: 1.75rem;
  }

  .header-sections__left {
    flex: 0;
  }

  .header-sections {
    padding-inline: unset;
    width: 90%;
  }

  .title {
    text-align: start;
    font-size: 1.5em;
  }
}
