.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25rem;
  font-size: 3em;
}

p {
  text-align: center;
}

span {
  font-weight: bold;
  font-style: italic;
}
