.baked-good {
  max-width: 500px;
}

.baked-good__image {
  aspect-ratio: 1;
  width: 100%;
  position: relative;

  & img {
    padding: 2rem;
  }
}

.baked-good-image {
  width: 100%;
  height: 100%;
}

.baked-good__info__title {
  font-weight: bold;
}
