*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: oklch(95.44% 0.0176 81.32);
  --secondary-bg-color: oklch(92.3% 0.042 61.4);

  --content-width: min(calc(100% - 5rem), 90rem);
}

html {
  background-color: var(--main-bg-color);
  font-family: "Madimi One", sans-serif;
}
